# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.swn

# Virtual Environment
.venv/

# Build
.pytest_cache
.cache/
dist/
build/

# IDE
*.iml
*.ipynb_checkpoints/

# Logs
*.log
*.tmp
*.bak
reports/

# OS Files
.DS_Store
Thumbs.db
videos/
