# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.swn

# Virtual Environment
.venv/

# Testing/Build
.pytest_cache
__pycache__/
.cache/
dist/
build/

# IDE/Editor
*.vscode/
*.idea/
*.iml
*.ipynb_checkpoints/

# Logs
*.log
*.tmp
*.bak

# OS Files
.DS_Store
Thumbs.db